{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
    <h1>About Us</h1>
    <p>Transparify is a citizen engagement platform designed to promote transparency and accountability in governance. We empower citizens by giving them a voice to provide feedback and share opinions on government projects, public spending, and policies.</p>

    <h2>Our Mission</h2>
    <p>Our mission is to foster open dialogue between citizens and government officials to improve governance and accountability at all levels.</p>

    <h2>Our Vision</h2>
    <p>Our vision is to create a world where transparency is at the forefront of governance, and citizens actively participate in shaping policies that impact their lives.</p>
{% endblock %}
